@model DynamicDatabase.Models.ViewModels.EntityViewModel

@{
    ViewData["Title"] = "Index";
}

<h3>Entities</h3>
<h6>(Table Names at Database)</h6>


<div class="row">
    <div class="col-md-7 border-secondary">
        <table class="table">
            <thead>
                <tr>
                    <th>Entity Name</th>
                    <th>Is Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.EntityTypes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a type="submit" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <vr />
    </div>
    <div class="col-md-5">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.EntityType.Name" class="control-label"></label>
                <input asp-for="@Model.EntityType.Name" class="form-control"/>
                <span asp-validation-for="@Model.EntityType.Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="@Model.EntityType.IsActive"/>
                    @Html.DisplayNameFor(model => model.EntityType.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>